html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: var(--text-primary);
}

:root {
  --text-primary: #121829;
  --text-secondary: #7A7F8B;

  --accent-blue: #579CFB;
  --off-accent: #ACBBE1;
  --off-white: #FBFBFB;
}
