.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "DM Sans";
}

.resedaCenter {
  display: flex;
  flex-direction: column;
  flex: 1;

  height: 100%;
  width: 100%;
  
  padding: 2rem 1rem;
}

.resedaBottom {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  background-color: var(--off-white);
  box-shadow: inset 0px 12px 7px -11px rgba(61,61,92,.1);

  align-items: center;
  gap: 1rem;
  padding: .2rem 1rem;

  font-size: .8rem;
  margin: 0;
}

.resedaBottom > div:first-of-type {
  flex: 1;
  width: 100%;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.connected {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: .5rem;

  /* background-color: rgb(226, 223, 223); */
  /* border-color: var(--off-blue); */
  /* border: var(--off-accent) solid 2px; */
  background-color: var(--accent);
  color: var(--off-white-blue);

  padding: .4rem .8rem;
  border-radius: 7px;
}

.connected h4 {
  color: var(--off-white-blue);
  font-weight: 400;
}

.disconnected {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: .5rem;

  /* background-color: rgb(226, 223, 223); */
  /* border-color: var(--off-blue); */
  /* border: var(--off-accent) solid 2px; */
  color: var(--text-primary);
  background-color: transparent;

  padding: .4rem .8rem;
  border-radius: 7px;
}

.connectionStatus {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  /* background-color: var(--off-accent); */
  margin: 0;
}

.resedaBottom > div:not(:first-of-type) {
  width: fit-content;
}

.resedaBottom * {
  margin: 0;
}

.resedaBottom h4 {
  font-size: .8rem;
  font-weight: 600 !important;
}

.resedaBottom h6 {
  font-weight: 400;
  font-size: .8rem;
  opacity: .3;
}

.resedaHeader {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resedaContentCenter {
  display: flex;
  flex-direction: column;
}

.resedaTabBar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.resedaTabBar div {
  cursor: pointer;
}